<p>
<span *ngFor="let mnemonic of (mnemonic$ | async)">{{mnemonic}}</span>
</p>

<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Leave a comment"></textarea>
</mat-form-field>
</form>

<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Leave a comment"></textarea>
</mat-form-field>
</form>

<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Leave a comment"></textarea>
</mat-form-field>
</form>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" value="Password">
  </mat-form-field>




<div class="example-button-row">

<button mat-button color="primary" (click)="update()">Vailder</button>


</div>
